<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.ArticleMapper">

    <select id="selectTagByArticleId" resultType="java.lang.Long">
        select tag_id
        from calyee_blog.sg_article_tag
        where article_id = #{articleId}
    </select>
</mapper>