<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.mapper.TagMapper">
    <insert id="insertArticleTags">
        insert into sg_article_tag(article_id,tag_id)
        value (#{articleId},#{item})
    </insert>
    <update id="updateTagInfo">
        update sg_tag
        set name        = #{tag.name},
            remark      = #{tag.remark},
            update_by   = #{tag.createBy},
            update_time = #{tag.updateTime}
        where id = #{tag.id}
    </update>
    <select id="selectByIdMapper" resultType="com.hang.vo.TagVo">
        select id,name,remark
        from sg_tag
        where id = #{id}
    </select>
</mapper>